@page
@model DuelSysWeb.Pages.schedule.IndexModel
@{
    ViewData["Title"] = "Schedule";
}
<!-- ======= Schedule Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>About Us</h2>
          <ol>
            <li><a href="~/">Home</a></li>
            <li>Schedule</li>
          </ol>
        </div>

      </div>
    </section><!-- End Schedule Section -->